<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.1 Transitional//EN">
<html>
 <head>
   <title> Bewerbungshomepage</title>
   <meta name="AUTHOR" content="Mikka Elyas Pauli">
   <meta name="COPYRIGHT" content="COPYRIGHT (c) 2024 by Mikka Elyas Pauli">
   <meta name="ROBOTS" content="INDEX, FOLLOW"> 
   <meta name="DSCRIPTIONS" content="Dies ist die Bewerbungshomepage von Mikka Elyas Pauli">
   <meta name="KEYWORDS" content="Bewerbungshomepage, Mikka Elyas Pauli, Bewerbung">
   <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1" />
   <meta name="viewreport" content="width=device-width, initial-scale=1" />
   <!--import the webpage's stylesheet -->
   <link rel="stylesheet" href="/style.css" />
   <!--import the webpage's stylesheet -->
   <script src="/script.js" defer></script>
   <!-- import the webpage's markdown-style -->
   <link rel="stylesheet" href="/markdown-style.css" />
   <!-- Einbindung der Javascript-Bibliothek JQUERY von GOOGLE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Load the element definition for markdown-->
     <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
  </head>
  <body onload="setTimeout(function() {setActiveMenu('#main_menu_item_blog');}, 1000);">
    <div id="kopfbereich"></div>
    <!-- Ende kopfbereich -->
    <div id="navibereich"></div>
    <!-- Ende navibereich -->
 
   <div id="textbereich">
    <div class="content-block">
    <h1>Blog</h1>
      <hr>
        <% const strArr1 = dateiDaten; %>
        <% const dscArr = strArr1.sort((a, b) => b.date.localeCompare(a.date)); %>
                
        <% dscArr.forEach(datei => { %>
         
         <!-- Datum umwandeln in ein deutsches Format (TT.MM.JJJJ) -->
         <% var st = datei.date %>
         <% var dt = new Date(st); %>
         <% var date_blog = ("0" + dt.getDate()).slice(-2) + "." + ("0" + (dt.getMonth() + 1)).slice(-2) + "." + dt.getFullYear() %>
          
         <% var datei_link = datei.path.slice(0, -3);%>
         <% var datei_img = datei.img; %>
         <a href='<%= datei_link %>'>
          <div class="post">
             <p class="title">
              <%= date_blog %> - <%= datei.description %>
              <%if (datei.img) { %>
                <img style="float:right;" src='<%= datei.img %>#img-blog' alt="Blog">
              <% } %>
             </p>
           </div>
         </a>
        <% }); %>

    </div><!-- Ende textbereich -->
    <div id="fussbereich"></div>
    <!-- Ende fussbereich -->
    <div id="newsbereich"></div>
    <!-- Ende newsbereich -->
    <script>
      $(window).on("load", function () {
        load_content("navibereich", "content-navi.html");
        load_content("newsbereich", "content-news.html");
        load_content("fussbereich", "content-footer.html");
        load_content("kopfbereich", "content-header.html");
      });
    </script>
  </body>
</html>

